<!-- __site_comp_panel_buttons_template__ -->
<div class='btn-group'>
	<a href='#feed' class='btn btn-default' class='menu' id='load-feed'>Feed</a>
	<a href='#history' class='btn btn-default' class='menu' id='load-history'>History</a>
	<a href='#playlists' class='btn btn-default' class='menu' id='load-playlists'>Playlists</a>
</div>
<!-- __site_comp_register_button_template__ -->
<div class='btn-group pull-right outworld'>
	<a href='{{site}}#register' class='btn btn-default' class='menu' id='load-register'>Register</a>
	<a href='{{site}}#login' class='btn btn-default' class='menu' id='load-login'>Login</a>
</div>
<div id='greetings' style='margin-top:8px;float:right;'>
</div>
