<!-- __momentlist_all_template__ -->
<div id="moment_list">
	<div class="moment_list_background"></div>


	<!-- Moment List New Moment Background + Bookmark -->
	<!-- <div class="moment_list_new_moment_background"></div> -->
	<!-- __moment_new_template__ -->
	<div class="bm_container">
		<div class="bm_thumbnail bm_new_moment" data-x-position="33">
			<h4 contenteditable="true">New Moment</h4>
			<div class="bm_arrow"></div>
		</div>
		<div class="bm_menu bm_new_moment_menu">
			<div class="bm_new_moment_description">
				<a class="description_close">
					<i class="fa fa-times"></i>
				</a>
				Click to tag this moment.
			</div>
			<a class="menu_activate_circle menu_save">
				<i class="fa fa-check"></i>
			</a>
			<a class="menu_activate_circle menu_cancel">
				<i class="fa fa-times"></i>
			</a>
		</div>
	</div>
</div>
