<div class="moment"
	data-moment="{{id}}"
	data-asset_id="{{asset_id}}"
	data-asset_source="{{asset_source}}"
	data-asset_resource_id="{{asset_resource_id}}"
	data-time_start="{{time_start}}"
	data-image="{{thumbnail_background_image}}"
	data-rows="{{thumbnail_background_image_rows}}"
	data-columns="{{thumbnail_background_image_columns}}"
	data-position="{{thumbnail_background_image_position}}"
	data-tag="{{tag}}">
	<div class="moment_thumb"></div>
	<div class="moment_border"></div>
	<div class="moment_tag">{{tag}}</div>
	<!--<div class="moment_count"></div>-->
	<div class="moment_popup menu top right">
		<span class='icon-bar'></span>
		<span class='icon-bar'></span>
		<span class='icon-bar'></span>
	</div>
	<div class="moment_popup done top right"></div>
	<div class="moment_popup cancel bottom right"></div>
	<div class="moment_anchor arrow-down"></div>
</div>
