<div class="bm_container">
<div class="bm_thumbnail" 
	data-id="{{id}}" 
	data-x-position="{{time_start}}" 
	data-image="{{thumbnail_background_image}}" 
	data-rows="{{thumbnail_background_image_rows}}" 
	data-columns="{{thumbnail_background_image_columns}}" 
	data-position="{{thumbnail_background_image_position}}" 
	data-tag="{{tag}}">
	<h4>{{tag}}</h4>
	<div class="bm_arrow"></div>
</div>
<div class="bm_menu" data-id="{{id}}">
	<a class="menu_activate_circle menu_open">
		<i class="fa fa-bars"></i>
	</a>
	<div class="menu_popup">

		<ul class="menu_popup_items">
			<li class="button_close_container"><span class="button_close"></span></li>
			<li><a href="#"><i class="fa fa-twitter"></i>Tweet</a></li>
			<li><a href="#"><i class="fa fa-thumbs-o-up"></i>Like</a></li>
			<li><a href="#"><i class="fa fa-share-alt"></i>Share...</a></li>
			<li><a href="#"><i class="fa fa-clipboard"></i>Copy Link</a></li>
			<li><a href="#"><i class="fa fa-plus"></i>Add to Playlist</a></li>
			<li><a href="#"><i class="fa fa-arrows-alt"></i>Related Playlists</a></li>
			<li><a href="#"><i class="fa fa-pencil"></i>Edit </a></li>
		</ul>
	</div>
</div>
</div>