<!-- __site_comp_navTopRow_template__ -->
<div id='nav' class='container'>
	<div class='col-xs-4 col-sm-4 col-md-2'><button class='btn btn-default nav'>Back</button></div>
	<div class='col-xs-4 col-sm-4 col-md-offset-4 col-md-4'><input type='text' class='form-control' autocomplete='off' placeholder='Search' name='search' id='search'/></div>
	<div class='col-xs-4 col-sm-4 col-md-2'>
		<div class="btn-group" style='width:100%;vertical-align:top;'>
			<button class="btn btn-success dropdown-toggle nav" type="button" data-toggle="dropdown" aria-expanded="false">
				Menu
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li class="divider"></li>
				<li><a id='logout-button' href="{{site}}logout">Logout</a></li>
			</ul>
		</div>
	</div>
</div>
