<!-- __moment_new_tag_prompt_template__ -->
<div class="modal fade" id='moment-save'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" data-action='dismiss' aria-hidden="true">×</button>
				<h4 class="modal-title">Say something about the bookmark</h4>
			</div>
			<div class="modal-body">
				<p><input type='text' class='form-control' name='tag' id='tag'/></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" data-action='dismiss'>Close</button>
				<button type="button" class="btn btn-primary" data-action='save'>Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
